.container-mx-auto h1{
  display: flex;
  font-size: 32px;
  margin: 20;
  padding: 24px 32px;
  max-width: 50%;
  font-weight: bold;

}
.container-mx-auto img {
  float: right;
  margin: 40px 160px 40px 40px;
  width: 450px;
  height: 500px;
  transform: translateY(-20%);
}

.container-mx-auto p {
  display: flex;
  font-size: 16px;
  margin: 20;
  padding: 1px 32px;
  max-width: 60%;
}
